*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

  
  main {
    flex: 1 0 auto;
    
  }
  
  div.nav-wrapper{
      background-color: rgb(102, 187, 22);
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
    background-color: rgb(83, 218, 25);
  }